:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --third-text-color: #fff;
  --accent-color: #2196f3;
  --accent-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --icon-color: #afb1b8;
}

:root {
  --mobile-divider: 60px;
  --tablet-divider: 60px;
  --desktop-divider: 94px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.button {
  font-size: 16px;
  line-height: 1.875;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-family: Roboto,sans-serif;
  color: var(--third-text-color);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button:focus {
  outline: 0px solid var(--accent-color);
}

.section__headline {
  font-size: 36px;
  line-height: 1.16667;
  font-weight: 700;
  letter-spacing: 0.03em;
  font-family: Roboto,sans-serif;
  color: var(--primary-text-color);
  text-align: center;
  margin-bottom: 50px;
}

.soc-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.soc-box__svg {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.soc-box__link {
  color: var(--icon-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-box__link:not(first-child) {
  margin-left: 10px;
}

.soc-box__link:hover, .soc-box__link:focus {
  color: var(--third-text-color);
  background-color: var(--accent-color);
  outline: var(--accent-color);
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  min-height: 400px;
  max-width: 1600px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--accent-background-color);
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/img/hero/desktop-1x.jpg);
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img/hero/desktop-1x.jpg);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/img/hero/desktop-2x.jpg);
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img/hero/desktop-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/img/hero/tablet-1x.jpg);
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img/hero/tablet-1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/img/hero/tablet-2x.jpg);
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img/hero/tablet-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    min-height: 600px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/img/hero/desktop-1x.jpg);
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img/hero/desktop-1x.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/img/hero/desktop-2x.jpg);
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img/hero/desktop-2x.jpg);
  }
}

.hero__headline {
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  font-size: 26px;
  line-height: 1.61538;
  font-weight: 900;
  letter-spacing: 0.06em;
  font-family: Roboto,sans-serif;
  color: var(--third-text-color);
  max-width: 360px;
}

@media screen and (min-width: 1200px) {
  .hero__headline {
    font-size: 44px;
    line-height: 1.36364;
    font-weight: 900;
    letter-spacing: 0.06em;
    font-family: Roboto,sans-serif;
    color: var(--third-text-color);
    max-width: 696px;
  }
}

.hero__headline {
  margin-bottom: 30px;
}

.features {
  padding-top: var(--mobile-divider);
}

@media screen and (min-width: 768px) {
  .features {
    padding-bottom: var(--tablet-divider);
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: var(--desktop-divider);
  }
}

.feat__headline::before {
  margin-bottom: 30px;
}

.feat__headline {
  margin-bottom: 10px;
}

.feat__list {
  margin-left: -30px;
  margin-bottom: -30px;
}

.feat__item {
  margin-bottom: 30px;
  margin-left: 30px;
}

.feat__list {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .feat__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .feat__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.feat__item {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .feat__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .feat__item {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
  }
}

.feat__description {
  font-size: 14px;
  line-height: 1.71429;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-family: Roboto,sans-serif;
  color: var(--secondary-text-color);
}

.feat__headline {
  font-size: 14px;
  line-height: 1.14286;
  font-weight: 700;
  letter-spacing: 0.03em;
  font-family: Roboto,sans-serif;
  color: var(--primary-text-color);
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

.feat__headline::before {
  content: "";
  display: block;
  background-color: var(--secondary-background-color);
  height: 120px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media screen and (min-width: 768px) {
  .feat__headline::before {
    -ms-flex-preferred-size: calc(100% / 2 -30px);
        flex-basis: calc(100% / 2 -30px);
  }
}

@media screen and (min-width: 1200px) {
  .feat__headline::before {
    -ms-flex-preferred-size: calc((100% / 4 - 30px));
        flex-basis: calc((100% / 4 - 30px));
  }
}

.feat__headline::after {
  content: "";
  position: absolute;
  left: calc(50% - 70px / 2);
  top: calc(120px / 2 - 70px / 2);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  width: 70px;
  height: 70px;
}

.feat__item:nth-child(1) > .feat__headline::after {
  background-image: url("../images/svg/feats/antenna.svg");
}

.feat__item:nth-child(2) > .feat__headline::after {
  background-image: url("../images/svg/feats/clock.svg");
}

.feat__item:nth-child(3) > .feat__headline::after {
  background-image: url("../images/svg/feats/diagram.svg");
}

.feat__item:nth-child(4) > .feat__headline::after {
  background-image: url("../images/svg/feats/astronaut.svg");
}

.team {
  padding-top: var(--mobile-divider);
  padding-bottom: var(--mobile-divider);
  background-color: var(--secondary-background-color);
}

@media screen and (min-width: 768px) {
  .team {
    padding-top: var(--tablet-divider);
    padding-bottom: var(--tablet-divider);
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: var(--decktop-divider);
    padding-bottom: var(--desktop-divider);
  }
}

.team__list {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team__picture {
  width: 100%;
}

.team__card {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__card:not(:first-child) {
  margin-left: 30px;
}

.members {
  padding-top: 30px;
  padding-bottom: 10px;
  padding-bottom: 30px;
  text-align: center;
  background-color: white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.members__name {
  font-size: 16px;
  line-height: 1.1875;
  font-weight: 500;
  letter-spacing: 0.03em;
  font-family: Roboto,sans-serif;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.members__position {
  font-size: 16px;
  line-height: 1.1875;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-family: Roboto,sans-serif;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: var(--mobile-divider);
  padding-bottom: var(--mobile-divider);
}

@media screen and (min-width: 768px) {
  .clients {
    padding-top: var(--tablet-divider);
    padding-bottom: var(--tablet-divider);
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: var(--desktop-divider);
    padding-bottom: var(--desktop-divider);
  }
}

.clients__svg {
  color: currentColor;
  width: 106px;
  height: 60px;
}

.clients__link {
  width: 170px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.clients__list {
  margin-right: -30px;
  margin-bottom: -30px;
}

.clients__item {
  -ms-flex-preferred-size: calc(100% / 2 - 30px);
      flex-basis: calc(100% / 2 - 30px);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: calc(100% / 6 - 30px);
        flex-basis: calc(100% / 6 - 30px);
  }
}

.clients__item:not(first-child) {
  margin-left: 30px;
  margin-bottom: 30px;
}
/*# sourceMappingURL=main.css.map */