:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --third-text-color: #fff;
  --accent-color: #2196f3;
  --accent-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --icon-color: #afb1b8;
}

:root {
  --mobile-divider: 60px;
  --tablet-divider: 60px;
  --desktop-divider: 94px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.container {
  outline: red solid 3px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.effect {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.effect:hover, .effect:focus {
  color: var(--accent-color);
  cursor: pointer;
  border-color: var(--accent-color);
  outline: var(--accent-color) solid 0px;
}

.effect__inp {
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.effect__inp:hover, .effect__inp:focus {
  cursor: pointer;
  border-color: var(--accent-color);
  outline: var(--accent-color) solid 0px;
}

.button {
  font-size: 16px;
  line-height: 1.875;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-family: Roboto,sans-serif;
  color: var(--third-text-color);
  width: 200px;
  height: 50px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button:focus {
  outline: 0px solid var(--accent-color);
}

.section__headline {
  font-size: 36px;
  line-height: 1.16667;
  font-weight: 700;
  letter-spacing: 0.03em;
  font-family: Roboto,sans-serif;
  color: var(--primary-text-color);
  text-align: center;
  margin-bottom: 50px;
}

.footer__headline {
  font-size: 14px;
  line-height: 1.14286;
  font-weight: 700;
  letter-spacing: 0.03em;
  font-family: Roboto,sans-serif;
  color: var(--third-text-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer__headline {
    display: block;
    text-align: start;
  }
}

.soc-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -10px;
}

.soc-box__svg {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.soc-box__link {
  color: var(--icon-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-box__link:not(first-child) {
  margin-left: 10px;
}

.footer .soc-box__link {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .soc-box__link:hover,
.footer .soc-box__link:focus, .soc-box__link:hover, .soc-box__link:focus {
  color: var(--third-text-color);
  background-color: var(--accent-color);
  outline: none;
}

.modal {
  min-height: 600px;
  background-color: #fff;
  border-radius: 4px;
  position: relative;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 450px;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.new-user {
  display: block;
  padding: 40px;
}

.new-user__headline {
  color: var(--primary-text-color);
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 0.03em;
  font-family: Roboto,sans-serif;
}

@media screen and (min-width: 1200px) {
  .new-user__headline {
    font-size: 20px;
    line-height: 1.15;
    font-weight: 700;
    letter-spacing: 0.03em;
    font-family: Roboto,sans-serif;
  }
}

.new-user__box {
  position: relative;
  margin-bottom: 28px;
}

.new-user__input {
  color: var(--primary-text-color);
  font-size: 12px;
  line-height: 1.16667;
  font-weight: 400;
  letter-spacing: 0.01em;
  font-family: Roboto,sans-serif;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.form-comment {
  min-height: 120px;
  padding: 12px 16px;
  resize: none;
}

.new-user__mark {
  font-size: 12px;
  line-height: 1.16667;
  font-weight: 400;
  letter-spacing: 0.01em;
  font-family: Roboto,sans-serif;
  color: var(--secondary-text-color);
  position: absolute;
  left: 0px;
  top: -18px;
}

.license {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.license__confirm {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  position: absolute;
}

.license__props {
  font-size: 14px;
  line-height: 1.71429;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-family: Roboto,sans-serif;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
}

.license__props::before {
  content: "";
  width: 16px;
  height: 15px;
  display: inline-block;
  border: #212121 solid 2px;
  border-radius: 2px;
  background-origin: border-box;
  margin-right: 8px;
}

.license__confirm:checked + .license__props::before {
  background-image: url("../images/svg/check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}

.license__descr {
  font-size: 14px;
  line-height: 1.71429;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-family: Roboto,sans-serif;
  color: var(--accent-color);
  text-decoration: none;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  display: inline-block;
  margin-left: 7px;
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.logo {
  font-size: 26px;
  line-height: 1.19231;
  font-weight: 700;
  letter-spacing: Raleway;
  font-family: Roboto,sans-serif;
  color: var(--accent-color);
  margin-right: 93px;
}

.logo__header {
  color: black;
}

.logo__footer {
  color: white;
}

.current:after {
  content: "";
  position: absolute;
  bottom: -31px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.current.link {
  color: var(--accent-color);
}

.header {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__pages,
.header__contacts {
  font-size: 14px;
  line-height: 1.14286;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-family: Roboto,sans-serif;
  color: var(--primary-text-color);
  position: relative;
}

@media screen and (max-width: 767px) {
  .header__pages,
  .header__contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header__pages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .header__pages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav__item1 {
  position: relative;
}

.nav__item1:not(:first-child) {
  margin-left: 50px;
}

@media screen and (min-width: 1200px) {
  .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav__contact {
  color: var(--secondary-text-color);
}

@media screen and (min-width: 768px) {
  .nav__contact {
    font-size: 12px;
    line-height: 1.16667;
    font-weight: 500;
    letter-spacing: 0.02em;
    font-family: Roboto,sans-serif;
  }
}

@media screen and (min-width: 1200px) {
  .nav__contact {
    font-size: 14px;
    line-height: 1.14286;
    font-weight: 500;
    letter-spacing: 0.02em;
    font-family: Roboto,sans-serif;
  }
}

.nav__item2 {
  margin-left: 50px;
}

.nav__item2:first-child {
  padding-bottom: 10px;
}

.menu__mobile {
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .menu__mobile {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .menu__mobile {
    display: none;
  }
}

.m-menu__btn {
  display: none;
  position: absolute;
  top: 10px;
  right: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: none;
  outline: 0px solid transparent;
  width: 40px;
  height: 40px;
}

.m-menu__btn > svg {
  fill: currentColor;
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 480px) {
  .m-menu__btn.call {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 480px) {
  .m-menu__btn.close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .m-menu__btn {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .m-menu__btn {
    display: none;
  }
}

.mobile__page {
  font-size: 40px;
  line-height: 1.175;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-family: Roboto,sans-serif;
  color: var(--primary-text-color);
}

.mobile__contact {
  font-size: 24px;
  line-height: 1.16667;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-family: Roboto,sans-serif;
  color: var(--secondary-text-color);
}

.mobile__contact:hover, .mobile__contact:focus {
  -webkit-transform: scale(2, 2);
          transform: scale(2, 2);
}

.mobile__item2:last-child {
  margin-top: 32px;
  margin-bottom: 64px;
}

.social__link {
  font-size: 18px;
  line-height: 1.22222;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-family: Roboto,sans-serif;
  color: var(--accent-color);
  margin-left: 20px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -20px;
}

.social__item::after {
  content: "";
  height: 22px;
  width: 1px;
  background-color: var(--primary-text-color);
}

.mobile-current {
  color: var(--accent-color);
}

.footer {
  background-color: var(--accent-background-color);
  padding-top: var(--mobile-divider);
  padding-bottom: var(--mobile-divider);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: var(--tablet-divider);
    padding-bottom: var(--tablet-divider);
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    padding-top: var(--desktop-divider);
    padding-bottom: var(--desktop-divider);
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.adress__link {
  font-size: 14px;
  line-height: 1.71429;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-family: Roboto,sans-serif;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  text-decoration: none;
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .adress__link {
    margin-bottom: 9px;
  }
}

.form-f__email {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-family: Roboto,sans-serif;
  color: var(--third-text-color);
  background-color: var(--accent-background-color);
  padding-left: 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  height: 50px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form-f__email {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .form-f__email {
    width: 358px;
  }
}

.footer__btn {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__btn > svg {
  width: 24px;
  height: 24px;
  fill: #fff;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .tablet {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media screen and (min-width: 1200px) {
  .tablet__box:last-child {
    margin-left: 70px;
  }
}

@media screen and (min-width: 768px) {
  .box__form {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .box__form {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .form__footer {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

@media screen and (max-width: 767px) {
  .footer ul {
    margin-bottom: 60px;
  }
}

.footer .logo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.form-f__email {
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .form-f__email {
    margin-right: 12px;
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  min-height: 400px;
  max-width: 1600px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--accent-background-color);
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/img/hero/desktop-1x.jpg);
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img/hero/desktop-1x.jpg);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/img/hero/desktop-2x.jpg);
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img/hero/desktop-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/img/hero/tablet-1x.jpg);
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img/hero/tablet-1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/img/hero/tablet-2x.jpg);
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img/hero/tablet-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    min-height: 600px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/img/hero/desktop-1x.jpg);
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img/hero/desktop-1x.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/img/hero/desktop-2x.jpg);
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img/hero/desktop-2x.jpg);
  }
}

.hero__headline {
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  font-size: 26px;
  line-height: 1.61538;
  font-weight: 900;
  letter-spacing: 0.06em;
  font-family: Roboto,sans-serif;
  color: var(--third-text-color);
  max-width: 360px;
}

@media screen and (min-width: 1200px) {
  .hero__headline {
    font-size: 44px;
    line-height: 1.36364;
    font-weight: 900;
    letter-spacing: 0.06em;
    font-family: Roboto,sans-serif;
    color: var(--third-text-color);
    max-width: 696px;
  }
}

.hero__headline {
  margin-bottom: 30px;
}

.features {
  padding-top: var(--mobile-divider);
}

@media screen and (min-width: 768px) {
  .features {
    padding-bottom: var(--tablet-divider);
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: var(--desktop-divider);
  }
}

.feat__headline::before {
  margin-bottom: 30px;
}

.feat__headline {
  margin-bottom: 10px;
}

.feat__list {
  margin-left: -30px;
  margin-bottom: -30px;
}

.feat__item {
  margin-left: 30px;
  margin-bottom: 30px;
}

.feat__list {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .feat__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .feat__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.feat__item {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .feat__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .feat__item {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
  }
}

.feat__description {
  font-size: 14px;
  line-height: 1.71429;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-family: Roboto,sans-serif;
  color: var(--secondary-text-color);
}

.feat__headline {
  font-size: 14px;
  line-height: 1.14286;
  font-weight: 700;
  letter-spacing: 0.03em;
  font-family: Roboto,sans-serif;
  color: var(--primary-text-color);
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

.feat__headline::before {
  content: "";
  display: block;
  background-color: var(--secondary-background-color);
  height: 120px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media screen and (min-width: 768px) {
  .feat__headline::before {
    -ms-flex-preferred-size: calc(100% / 2 -30px);
        flex-basis: calc(100% / 2 -30px);
  }
}

@media screen and (min-width: 1200px) {
  .feat__headline::before {
    -ms-flex-preferred-size: calc((100% / 4 - 30px));
        flex-basis: calc((100% / 4 - 30px));
  }
}

.feat__headline::after {
  content: "";
  position: absolute;
  left: calc(50% - 70px / 2);
  top: calc(120px / 2 - 70px / 2);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  width: 70px;
  height: 70px;
}

.feat__item:nth-child(1) > .feat__headline::after {
  background-image: url("../images/svg/feats/antenna.svg");
}

.feat__item:nth-child(2) > .feat__headline::after {
  background-image: url("../images/svg/feats/clock.svg");
}

.feat__item:nth-child(3) > .feat__headline::after {
  background-image: url("../images/svg/feats/diagram.svg");
}

.feat__item:nth-child(4) > .feat__headline::after {
  background-image: url("../images/svg/feats/astronaut.svg");
}

.team {
  padding-top: var(--mobile-divider);
  padding-bottom: var(--mobile-divider);
  background-color: var(--secondary-background-color);
}

@media screen and (min-width: 768px) {
  .team {
    padding-top: var(--tablet-divider);
    padding-bottom: var(--tablet-divider);
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: var(--decktop-divider);
    padding-bottom: var(--desktop-divider);
  }
}

.team__list {
  width: 100%;
  margin-left: -30px;
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team__img {
  width: 100%;
}

.team__card {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  margin-left: 30px;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .team__card {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .team__card {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .team__card {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
  }
}

.members {
  padding-top: 30px;
  padding-bottom: 10px;
  padding-bottom: 30px;
  text-align: center;
  background-color: white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.members__name {
  font-size: 16px;
  line-height: 1.1875;
  font-weight: 500;
  letter-spacing: 0.03em;
  font-family: Roboto,sans-serif;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.members__position {
  font-size: 16px;
  line-height: 1.1875;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-family: Roboto,sans-serif;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: var(--mobile-divider);
  padding-bottom: var(--mobile-divider);
}

@media screen and (min-width: 768px) {
  .clients {
    padding-top: var(--tablet-divider);
    padding-bottom: var(--tablet-divider);
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: var(--desktop-divider);
    padding-bottom: var(--desktop-divider);
  }
}

.clients__svg {
  fill: currentColor;
  width: 106px;
  height: 60px;
}

.clients__link {
  width: 170px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
}

.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients__list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .clients__list {
    margin-right: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__list {
    margin-left: -15px;
  }
}

.clients__item {
  -ms-flex-preferred-size: calc(100% / 2 - 30px);
      flex-basis: calc(100% / 2 - 30px);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: calc(100% / 6 - 30px);
        flex-basis: calc(100% / 6 - 30px);
  }
}

.clients__item:not(first-child) {
  margin-left: 30px;
  margin-bottom: 30px;
}

.dirrections {
  display: none;
}

@media screen and (min-width: 1200px) {
  .dirrections {
    display: block;
    padding-bottom: var(--desktop-divider);
  }
}

.dirrections__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
}

.dirrections__item {
  position: relative;
  margin-left: 30px;
}

.dirrections__description {
  font-size: 14px;
  line-height: 1.14286;
  font-weight: 700;
  letter-spacing: 0.03em;
  font-family: Roboto,sans-serif;
  color: var(--third-text-color);
  text-transform: uppercase;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter {
  padding-top: var(--mobile-divider);
  padding-bottom: var(--mobile-divider);
}

@media screen and (min-width: 768px) {
  .filter {
    padding-top: var(--tablet-divider);
    padding-bottom: var(--tablet-divider);
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    padding-top: var(--desktop-divider);
    padding-bottom: var(--desktop-divider);
  }
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-left: -8px;
  padding-bottom: -15px;
}

@media screen and (min-width: 768px) {
  .buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.buttons__item {
  margin-left: 8px;
  padding-bottom: 15px;
}

.filter__btn {
  padding: 6px 22px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.625;
  font-weight: 500;
  letter-spacing: 0.03em;
  font-family: Roboto,sans-serif;
  color: var(--primary-text-color);
  border: none;
  border-radius: 4px;
  background-color: var(--secondary-background-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__btn:focus, .filter__btn:hover {
  outline: none;
  cursor: pointer;
  color: var(--third-text-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.overtext {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55556;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-family: Roboto,sans-serif;
  color: var(--primary-text-color);
  color: #fff;
  background-color: var(--accent-color);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples__item {
  margin-left: 30px;
  margin-top: 30px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .examples__item {
    -ms-flex-preferred-size: calc(100 / 2 - 30px);
        flex-basis: calc(100 / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .examples__item {
    -ms-flex-preferred-size: calc(100 / 3 - 30px);
        flex-basis: calc(100 / 3 - 30px);
  }
}

.examples__item:hover .overtext {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.examples__item:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.goods {
  position: relative;
  overflow: hidden;
}

.goods__img {
  width: 100%;
}

.goods__box2 {
  padding: 20px 24px;
  border-inline: #eeeeee solid 1px;
  border-bottom: #eeeeee solid 1px;
}

.goods__header {
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-family: Roboto,sans-serif;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

@media screen and (min-width: 768px) {
  .goods__header {
    max-width: 300px;
  }
}

.goods__text {
  font-size: 16px;
  line-height: 1.875;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-family: Roboto,sans-serif;
  color: var(--secondary-text-color);
}
/*# sourceMappingURL=main.css.map */