:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --third-text-color: #fff;
  --accent-color: #2196f3;
  --accent-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --icon-color: #afb1b8;
}

:root {
  --mobile-divider: 60px;
  --tablet-divider: 60px;
  --desktop-divider: 94px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.button {
  font-size: 16px;
  line-height: 1.875;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-family: Roboto,sans-serif;
  color: var(--third-text-color);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button:focus {
  outline: 0px solid var(--accent-color);
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  min-height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--accent-background-color);
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/img/hero/desktop-1x.jpg);
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img/hero/desktop-1x.jpg);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/img/hero/desktop-2x.jpg);
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img/hero/desktop-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/img/hero/tablet-1x.jpg);
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img/hero/tablet-1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/img/hero/tablet-2x.jpg);
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img/hero/tablet-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/img/hero/desktop-1x.jpg);
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img/hero/desktop-1x.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/img/hero/desktop-2x.jpg);
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img/hero/desktop-2x.jpg);
  }
}

.hero__headline {
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  font-size: 26px;
  line-height: 1.61538;
  font-weight: 900;
  letter-spacing: 0.06em;
  font-family: Roboto,sans-serif;
  color: var(--third-text-color);
  max-width: 360px;
}

@media screen and (min-width: 1200px) {
  .hero__headline {
    font-size: 44px;
    line-height: 1.36364;
    font-weight: 900;
    letter-spacing: 0.06em;
    font-family: Roboto,sans-serif;
    color: var(--third-text-color);
    max-width: 696px;
  }
}

.hero__headline.mb {
  margin-bottom: 30px;
}

.features {
  padding-top: var(--mobile-divider);
}

@media screen and (min-width: 768px) {
  .features {
    padding-bottom: var(--tablet-divider);
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: var(--desktop-divider);
  }
}

.feat__headline::before {
  margin-bottom: 30px;
}

.feat__list {
  margin-left: -30px;
  margin-bottom: -30px;
}

.feat__item {
  margin-bottom: 30px;
  margin-left: 30px;
}

.feat__headline {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .feat__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .feat__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.feat__item {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .feat__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px * 2);
        flex-basis: calc(100% / 2 - 30px * 2);
  }
}

@media screen and (min-width: 1200px) {
  .feat__item {
    -ms-flex-preferred-size: calc(100% / 4 - 30px * 4);
        flex-basis: calc(100% / 4 - 30px * 4);
  }
}

.feat__description {
  font-size: 14px;
  line-height: 1.71429;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-family: Roboto,sans-serif;
  color: var(--secondary-text-color);
}

.feat__headline {
  font-size: 14px;
  line-height: 1.14286;
  font-weight: 700;
  letter-spacing: 0.03em;
  font-family: Roboto,sans-serif;
  color: var(--primary-text-color);
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

.feat__headline::before {
  content: "";
  display: block;
  background-color: var(--secondary-background-color);
  height: 120px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media screen and (min-width: 768px) {
  .feat__headline::before {
    -ms-flex-preferred-size: calc(100% / 2);
        flex-basis: calc(100% / 2);
  }
}

@media screen and (min-width: 1200px) {
  .feat__headline::before {
    -ms-flex-preferred-size: calc((100% - 4 * 30px) / 4);
        flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

.feat__headline::after {
  content: "";
  position: absolute;
  left: calc(50% - 70 / 2);
  top: calc(120px / 2 - 70px / 2);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  width: 70px;
  height: 70px;
}

.feat__item:nth-child(1) > .feat__headline::after {
  background-image: url("../images/svg/feats/antenna.svg");
}

.feat__item:nth-child(2) > .feat__headline::after {
  background-image: url("../images/svg/feats/clock.svg");
}

.feat__item:nth-child(3) > .feat__headline::after {
  background-image: url("../images/svg/feats/diagram.svg");
}

.feat__item:nth-child(4) > .feat__headline::after {
  background-image: url("../images/svg/feats/astronaut.svg");
}
/*# sourceMappingURL=main.css.map */