.current {
  &:after {
    content: "";
    position: absolute;
    bottom: -31px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
  &.link {
    color: var(--accent-color);
  }
}

.header {
  width: 100%;
  // Tablet
  @media screen and(min-width: 768px) {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  // Desktop
  @media screen and(min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__pages,
.header__contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @include font(14px, 16px, 500, 0.02em);
  color: var(--primary-text-color);
  position: relative;
}

.header__pages {
  // Tablet
  @media screen and (min-width: 768px) {
    display: flex;
  }

  // Desktop
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.nav__item1 {
  position: relative;
  &:not(:first-child) {
    margin-left: 50px;
  }
}
.nav__contact {
  display: flex;
  align-items: center;
}
.svg__envelope,
.svg__smartphone {
  fill: currentColor;
  margin-right: 10px;
}
.svg__envelope {
  width: 16px;
  height: 12px;
}
.svg__smartphone {
  width: 10px;
  height: 16px;
}
/////////////////////Contacts///////////////////////
.header__contacts {
  // Tablet
  @media screen and (min-width: 768px) {
  }

  // Desktop
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.nav__contact {
  color: var(--secondary-text-color);
  // Tablet
  @media screen and (min-width: 768px) {
    @include font(12px, 14px, 500, 0.02em);
  }
  // Desktop
  @media screen and (min-width: 1200px) {
    @include font(14px, 16px, 500, 0.02em);
  }
}
.nav__item2 {
  margin-left: 50px;
  &:first-child {
    padding-bottom: 10px;
  }
}
