.menu__mobile {
  padding-top: 48px;
  padding-bottom: 48px;
  // @media screen and (max-width: 767) {}

  position: absolute;
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  top: 0;
  // Tablet
  @media screen and (min-width: 480px) {
    display: none;
  }
  // Desktop
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
.m-menu__btn {
  display: none;

  margin: 0 auto;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: 0px solid transparent;
  width: 40px;
  height: 40px;

  & > svg {
    fill: currentColor;
    width: 40px;
    height: 40px;
  }
  &.call {
    @media screen and (max-width: 480px) {
      display: flex;
    }
  }
  &.close {
    @media screen and (max-width: 480px) {
      display: flex;
    }
  }
  // Tablet
  @media screen and (min-width: 768px) {
    display: none;
  }
  // Desktop
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.mobile__link {
  @include font(14px, 16px, 500, 0.02em);
  color: var(--primary-text-color);
}
