.features {
  @media screen and (max-width: 767px) {
    padding-top: var(--mobile-divider);
    padding-bottom: var(--mobile-divider);
  }

  // Tablet
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: var(--tablet-divider);
    padding-bottom: var(--tablet-divider);
  }
  // Desktop
  @media screen and (min-width: 1200px) {
    padding-top: var(--desktop-divider);
    padding-bottom: var(--desktop-divider);
  }
}
//////////////////////////////////Margins ///////////////////////////////
.feat__headline::before {
  margin-bottom: 30px;
}
.feat__headline {
  margin-bottom: 10px;
}
.feat__list {
  // Tablet
  @media screen and (min-width: 768px) {
    margin-left: -15px;
  }
  // Desktop
  @media screen and (min-width: 1200px) {
    margin-left: -15px;
  }

  margin-bottom: -15px;
}
.feat__item {
  // Tablet
  @media screen and (min-width: 768px) {
    margin-left: 30px;
  }
  // Desktop
  @media screen and (min-width: 1200px) {
    margin-left: 30px;
  }
  margin-bottom: 30px;
}

/////////////////////////// Close Margins Section ///////////////////

.feat__list {
  // Mobile
  width: 100%;
  // flex-basis: 100%;

  // flex None
  // Tablet
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  // Desktop
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
  }
}
.feat__item {
  width: 100%;
  // Tablet
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
  }
  // Desktop
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
  }
}
.feat__description {
  @include font(14px, 24px);
  color: var(--secondary-text-color);
}
.feat__headline {
  @include font(14px, 16px, 700);
  color: var(--primary-text-color);
  text-transform: uppercase;
  text-align: center;
  position: relative;
  // Tablet
  @media screen and (min-width: 768px) {
    text-align: left;
  }
  // Desktop
  @media screen and (min-width: 1200px) {
  }
}
//////////////////////////////////////////////////////////////////
//////////////////Picture as a 2 pseudo-element's ////////////////
/////////////////////////////////////////////////////////////////

.feat__headline::before {
  content: "";
  display: block;
  background-color: var(--secondary-background-color);
  height: 120px;
  flex-basis: 100%; //Может быть тут следует корректировать учитывая отступы

  // Tablet
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 -30px);
  }
  // Desktop
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% / 4 - 30px));
  }
}

.feat__headline::after {
  content: "";

  // display: block;
  position: absolute;

  left: calc(50% - 70px / 2);
  top: calc(120px / 2 - 70px / 2);

  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;

  width: 70px;
  height: 70px;

  .feat__item:nth-child(1) > & {
    background-image: url("../images/svg/feats/antenna.svg");
  }
  .feat__item:nth-child(2) > & {
    background-image: url("../images/svg/feats/clock.svg");
  }
  .feat__item:nth-child(3) > & {
    background-image: url("../images/svg/feats/diagram.svg");
  }
  .feat__item:nth-child(4) > & {
    background-image: url("../images/svg/feats/astronaut.svg");
  }
}
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
