.team {
  padding-top: var(--mobile-divider);
  padding-bottom: var(--mobile-divider);
  background-color: var(--secondary-background-color);

  @media screen and (min-width: 768px) {
    padding-top: var(--tablet-divider);
    padding-bottom: var(--tablet-divider);
  }

  @media screen and (min-width: 1200px) {
    padding-top: var(--decktop-divider);
    padding-bottom: var(--desktop-divider);
  }
}
