.filter {
  @media screen and (max-width: 767px) {
    padding-top: var(--mobile-divider);
    padding-bottom: var(--mobile-divider);
  }
  // Tablet
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: var(--tablet-divider);
    padding-bottom: var(--tablet-divider);
  }
  // Desktop
  @media screen and (min-width: 1200px) {
    padding-top: var(--desktop-divider);
    padding-bottom: var(--desktop-divider);
  }
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;

  margin-left: -8px; //////////////////
  padding-bottom: -15px;
  // Tablet
  @media screen and (min-width: 768px) {
    justify-content: center;
  }
  // Desktop
  @media screen and (min-width: 1200px) {
    // justify-content: center;
  }
}
.buttons__item {
  margin-left: 8px; //////////////////////
  padding-bottom: 15px;
}
.filter__btn {
  padding: 6px 22px;

  font-family: inherit;
  @include font(16px, 26px, 500);
  color: var(--primary-text-color);

  border: none;
  border-radius: 4px;

  background-color: var(--secondary-background-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    outline: none;
    cursor: pointer;
    color: var(--third-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.examples {
  // Tablet
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
  // Desktop
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.overtext {
  padding: 63px 24px;

  @include font(18px, 28px);
  color: #fff;
  opacity: 0.9;

  background-color: var(--accent-color);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples__item {
  margin-top: 30px; /////////////////
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (max-width: 767px) {
    width: 100%;
  }
  // Tablet
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px; /////////////////
  }
  // Desktop
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px; /////////////////
  }
  &:hover .overtext {
    transform: translateY(0);
  }
  &:hover {
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.goods__box {
  position: relative;
  overflow: hidden;
}

.goods__img {
  width: 100%;
}

.goods__box2 {
  // height: 100%;
  padding: 20px 24px;
  border-inline: #eeeeee solid 1px;
  border-bottom: #eeeeee solid 1px;
}
.goods__header {
  @include font(18px, 36px, 700, 0.06em);
  color: var(--primary-text-color);
  margin-bottom: 4px; ///////////////////////
  // Tablet
  @media screen and (min-width: 768px) {
  }
  // Desktop
  @media screen and (min-width: 1200px) {
  }
}
.goods__text {
  @include font(16px, 30px);
  color: var(--secondary-text-color);
}
