.effect {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
    cursor: pointer;
    // border: none;
    // outline: none;
    border-color: var(--accent-color);
    outline: var(--accent-color) solid 0px;
  }
}
.effect__inp {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    cursor: pointer;
    // border: none;
    // outline: none;
    border-color: var(--accent-color);
    outline: var(--accent-color) solid 0px;
  }
}
